body {
  height: 100vh;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.explainer {
  position: absolute;
  bottom: -26px;
  height: 20px;
  left: 0;
}

.explainer p {
  color: white;
  margin: 0;
  font-size: 12px;
}

.container {
  position: relative;
  flex: 0 0 auto;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/159368/chad1.jpg);
  width: 777px;
  height: 430px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.active .container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  border: 5px dashed white;
  margin-top: 2.5%;
  margin-left: 2.5%;
  border-radius: 20px;
}

.active .container:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  content: 'Drop image here';
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arm {
  position: absolute;
  top: 50px;
  left: 278px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/159368/chadarm.png);
  width: 403px;
  height: 381px;
}

.image {
  position: absolute;
  top: 152px;
  left: 80px;
  width: 227px;
  height: 159px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-11.8deg);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  background-size: cover;
  background-position: 50%;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

/*.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
